/* 
Red: #AB131B 
Green: #008763
Light grey: #F3F3F3
Medium grey: #E5E4E2
Dark grey: #555555
*/
body {
  background-color: #F3F3F3;
  font-family: 'Magra', sans-serif;
}

.top-nav {
  color: white;
  background-color: #AB131B;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  height: 75px;
}

.second-nav {
  background-color: white;
  height: 75px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.second-nav h4 {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  margin-bottom: 50px;
}

.display {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display img {
  width: 80%;
}

.topping-imgs img {
  width: 18%;
}

form {
  width: 50%;
  background-color: #E5E4E2;
  border-radius: 10px;
}

.form-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.size {
  margin-left: 10px;
}
.toppings {
  margin: 20px 0 0 10px;
}

.heading {
  padding: 40px;
  background-color: #008763;
  border-radius: 10px 10px 0 0;
  color: white;
}

.heading h3 {
  font-size: 2em;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 20px;
  color: white;
  background-color: #008763;
  padding: 5px 10px;
}
