/* 
Red: #AB131B 
Green: #008763
Light grey: #F3F3F3
Medium grey: #E5E4E2
Dark grey: #555555
*/

body {
  background-color: #F3F3F3;
  font-family: 'Magra', sans-serif;
}

.top-nav {
  color: white;
  background-color: #AB131B;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  height: 70px;
  width: 100px;
  background-image: url(../src/img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.second-nav {
  background-color: white;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.second-nav h4 {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  margin-bottom: 50px;
}

.display {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pizza-img {
  width: 80%;
  height: 300px;
  background-image: url(../src/img/pizza.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}

.build-pizza {
  width: 50%;
  background-color: #E5E4E2;
  border-radius: 10px;
}

.form-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form-results {
  padding: 40px;
  display: flex;
  flex-direction: column;
  display: none;
}

.address-fields {
  display: none;
}

label.address-fields {
  margin-top: 20px;
}

.size {
  margin-left: 10px;
}
.toppings {
  margin: 20px 0 0 10px;
}

.heading {
  padding: 20px 30px;
  background-color: #008763;
  border-radius: 10px 10px 0 0;
  color: white;
}

.heading h3 {
  font-size: 2em;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 20px;
  color: white;
  background-color: #008763;
  padding: 5px 10px;
}


.topping-imgs div {
  width: 75px;
}

.topping-imgs {
  display: flex;
  justify-content: space-around;
}

#pepperoni {
  height: 75px;
  background-image: url(../src/img/pepperoni.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}


#mushrooms {
  height: 75px;
  background-image: url(../src/img/mushrooms.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}


#olives {
  height: 75px;
  background-image: url(../src/img/olives.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}


#peppers {
  height: 75px;
  background-image: url(../src/img/peppers.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}


#artichokes {
  height: 75px;
  background-image: url(../src/img/artichokes.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}